body {
  background: url(./images/backgroud12.jpg) no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  padding-bottom: 20px;
}

#footer .content p {
  margin-bottom: 0;
}
